@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


.Home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  .main {
    .leftBox {
      position: absolute;
      top: 19.5%;
      left: 100px;

      .clockbox {
        box-shadow: 0px 0px 10px 2px #f5f2eb;
        background-color: #f7a6a6;
        border-radius: 10px;
        height: 80px;
        width: 300px;
        text-align: center;

        .clock {
          font-family: 'GmarketSansMedium';
          padding: 17px 0;
          font-size: 36px;
        }
      }

      .alert {
        box-shadow: 0px 0px 15px 8px rgb(254, 250, 250);;
        background-color: #FFE5F1;
        margin-left: -40px;
        border: none;
        border-radius: 10px;
        margin-top: 5%;
        height: 460px;
        width: 380px;

        h2 {
          font-weight: normal;
          font-family: '양진체';
          position: absolute;
          margin-left: 140px;
          margin-top: 30px;
        }

        .alertbox {
          background-color: rgb(254, 250, 250);
          text-align: center;
          margin-left: 48px;
          margin-top: 80px;
          position: absolute;
          border-radius: 10px;
          height: 350px;
          width: 280px;
        }
      }
    }

    .apply {
      box-shadow: 0px 0px 15px 8px rgb(254, 250, 250);
      position: absolute;
      border-radius: 10px;
      background-color: #FFE5F1;
      margin-left: 36%;
      height: 563px;
      width: 400px;
      top: 19.5%;
      font-size: 20px;

      a {
        text-decoration-line: none;
        color: black;

        &:hover {
          color: rgb(162, 160, 160);
        }

        h2 {
          font-weight: normal;
          font-family: '양진체';
          margin-top: 30px;
          text-align: center;
        }
      }

      .applybox1 {
        background-color: rgb(254, 250, 250);
        margin-left: 30px;
        border-radius: 10px;
        width: 340px;
        height: 200px;

        p {
          position: absolute;
          margin-top: 10px;
          margin-left: 10px;
        }

        h2 {
          position: absolute;
          margin-top: 50px;
          margin-left: 35%;
          font-size: 35px;
        }

        button {
          &:hover {
            background-color: #fdb5d7;
          }

          font-size:18px;
          color: white;
          background-color: #f6d0e2;
          border: none;
          border-radius: 10px;
          position: absolute;
          margin-top: 33%;
          margin-left: 15%;
          width: 220px;
          height: 38px;
        }
      }

      .applybox2 {
        background-color: rgb(254, 250, 250);
        margin-top: 8%;
        margin-left: 30px;
        border-radius: 10px;
        width: 340px;
        height: 200px;

        p {
          position: absolute;
          margin-top: 10px;
          margin-left: 10px;
        }

        h2 {
          position: absolute;
          margin-top: 50px;
          margin-left: 35%;
          font-size: 35px;
        }

        button {
          &:hover {
            background-color: #fdb5d7;
          }

          font-size:18px;
          color: white;
          background-color: #f6d0e2;
          position: absolute;
          border: none;
          border-radius: 10px;
          margin-top: 33%;
          margin-left: 15%;
          width: 220px;
          height: 38px;
        }
      }
    }

    .rulebox {
      h2 {
        font-family: '양진체';
        font-weight: normal;
        margin-left: 34px;
        margin-top: 30px;
      }

      box-shadow: 0px 0px 15px 8px rgb(254, 250, 250);
      position: absolute;
      top: 19.5%;
      right: 5%;
      background-color: #FFE5F1;
      height: 563px;
      width: 400px;
      border-radius: 10px;

      .rulebox2 {
        text-align: center;
        border-radius: 10px;
        background-color: rgb(254, 250, 250);
        height: 436px;
        width: 330px;
        margin-top: 30px;
        margin-left: 34px;
      }
    }
  }
}