.Notice {
  right: 80px;
  top: 20%;
  border: 20px solid rgb(71, 17, 17);
  background-color: #66bb6b;
  width: 400px;
  height: 500px;
  position: fixed;

  h2 {
    text-align: center;
    margin-top: 30px;
  }
}