.Notice {
  right: 80px;
  top: 20%;
  border-radius: 15px;
  border: 20px solid rgb(71, 17, 17);
  background-color: rgb(71, 17, 17);
  width: 400px;
  height: 464px;
  position: fixed;

  div {
    margin-top: -30px;
    height: 464px;
    border-radius: 15px;
    background-color: #66bb6b;

    h2 {
      text-align: center;
      margin-top: 30px;
    }
  }
}