@font-face {
  font-family: 'OKDDUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Humanbumsuk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.sign-up {
  .sign-box {
    border-radius: 3px;
    box-shadow: 16px 16px 6px rgb(158, 157, 157);
    margin-top: 130px;
    margin-left: 33%;
    width: 430px;
    height: 570px;
    border: 2px solid black;

    .signup-title {
      text-align: center;
      font-size: 27px;

      p {
        font-family: 'OKDDUNG';
      }
    }

    p {
      font-weight: bold;
    }

    .email {
      margin-left: 30px;

      input {
        border-color: rgb(183, 178, 178);
        width: 88%;
        margin-top: -10px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
      }
    }

    .name {
      margin-left: 30px;

      input {
        font-size: 18px;
        border-color: rgb(183, 178, 178);
        width: 88%;
        font-family: 'Humanbumsuk';
        margin-top: -10px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
      }
    }

    .scritnum {
      margin-left: 30px;

      input {
        margin-top: -10px;
        border-color: rgb(183, 178, 178);
        width: 88%;
        position: relative;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
      }
    }

    .classnum {
      margin: 30px;

      .class-input {
        select {
          width: 120px;
          font-size: 15px;
          font-family: 'Humanbumsuk';
          font-weight: 600;
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
        }
      }
    }

    .sign-btn {
      margin: 60px;

      button {
        &:hover {
          background-color: #25bb2c;
        }

        font-size: 17px;
        font-family: 'KOTRAHOPE';
        color: white;
        background-color: #66bb6a;
        position: absolute;
        width: 22%;
        height: 45px;
        border: none;
        border-radius: 15px;
      }
    }
  }
}